<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <div>
      <h2>Requests I've made</h2>
      <ul>
        <% @requests_made.each do |request| %>
          <li class='request'>
          <h3><%= Space.find(request.space_id).name %></h3>
          <h3><%= request.date_requested %></h3>
          <p><%= request.status %></p>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <h2>Requests I've received</h2>
        <% @requests_received.each do |request| %>
          <li class='request'>
          <h3><%= Space.find(request.space_id).name %></h3>
          <h3><%= request.date_requested %></h3>
          </li>
        <% end %>
    </div>
  </body>
</html>
